body {
  border-radius: 10px;
  backdrop-filter: blur(20px);
  position: fixed;
  width: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.11);
}

.transparency {
  background-color: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(20px);
}

.draggable {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.normal-font {
  font-size: var(--mantine-font-size-xs);
}

.titlebar-button {
  //-webkit-app-region: no-drag;
}
