.cursor{
    position: fixed;
    left:0;
    top:0;
    background: lavender;
    height:20px;
    width:5px;
    transition: top 0.3s, left 0.3s ,blink 1s;
}

@keyframes blink{
    to {
        color: transparent;
    }
}