.resize{
    position: absolute;
    right: 0;
    width: 4px;
    height: 100vh!important;
    cursor: col-resize;
    opacity: 0;
    background: rgba(255, 255, 255, 0.25);
    transition: opacity 0.5s;
}

/* 鼠标悬停时的透明到不透明效果 */
.resize:hover {
    opacity: 1; /* 鼠标悬停时变为透明 */
}